#aira {
    border-bottom: 4px;
    padding-bottom: 4px;
    font-size: 2rem;
    font-weight: bold;
    float: left;
}

.hero-text {
    font-family: 'Roboto';
    font-size: 6em;
    text-align: center;
}

.hero-image {
    display: block;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 10%
}

.companion-text-header {
    font-family: 'Roboto';
    color: #5872FF;
    font-weight: bold;
}

.middle-section {
    margin-top: 30%;
}

.frame {
    -ms-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.prototype-link {
    font-family: 'Roboto Mono';
    margin-top: 2%;
    color: #5872FF;
}

.prototype-link:hover {
    color: black;
}

.framer-prototype-link {
    font-family: 'Roboto Mono';
    margin-top: 2%;
    color: #5872FF;
}

#cd-vertical-nav .cd-dot {
    position: relative;
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #5872FF;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}